[%SET [@page_type@]='category'/%]

<div class="col-12 text-center">
	[%set [@no-menu@] %]true[%/set%]
	[%menu id:'category-layout'%]
		[%param *header%]
			<!-- Use Menu Layout System -->
			[%set [@^no-menu@] %]false[%/set%]
		[%/param%]
		[%param *level_1%]
			[%set [@section-title@] %][%if [@name@]%]<h1 class="section-title text-center text-uppercase my-4 my-sm-5">[@name@]</h1>[%else%]<div class="spacer"></div>[%/if%][%/set%]
			<!-- Content: [@css_class@] -->
			[%load_template file:'cms/includes/[@css_class@].template.html'/%]
		[%/param%]
	[%/menu%]
	[%if [@no-menu@] eq 'true'%]
		<!-- Use Default Layout -->
		[%set [@section-title@] %]<div class="spacer"></div>[%/set%]
		[%load_template file:'cms/includes/category-header.template.html'/%]
		[%load_template file:'cms/includes/description.template.html'/%]
		[%set [@section-title@] %]<h1 class="section-title text-center text-uppercase my-5">Products</h1>[%/set%]
		[%load_template file:'cms/includes/category-products.template.html'/%]
	[%/if%]
</div>