<!-- Layout 3 -->
[%SET [@page_type@]='home'/%]

<div class="col-12 text-center">
    [%set [@count@] %]0[%/set%]
    [%load_template file:'cms/includes/carousel_wide.template.html'/%]
    [%set [@count@] %]1[%/set%]
    [%set [@section-title@] %]<h1 class="section-title text-center my-4 my-sm-5">Featured Products</h1>[%/set%]
    [%load_template file:'cms/includes/featured_products.template.html'/%]
    [%set [@section-title@] %]<h1 class="section-title text-center my-4 my-sm-5"></h1>[%/set%]
    [%load_template file:'cms/includes/featured_adverts_half.template.html'/%]
    [%set [@section-title@] %]<div class="spacer home"></div>[%/set%]
    [%load_template file:'cms/includes/featured_adverts.template.html'/%]
    [%set [@section-title@] %]<h1 class="section-title text-center my-4 my-sm-5">Our Brands</h1>[%/set%]
    [%load_template file:'cms/includes/brands_small.template.html'/%]
    [%set [@section-title@] %]<h1 class="section-title text-center my-4 my-sm-5"> </h1>[%/set%]
    [%load_template file:'cms/includes/description.template.html'/%]
    [%set [@section-title@] %]<div class="spacer home"></div>[%/set%]
    [%load_template file:'cms/includes/instagram_wide.template.html'/%]
</div>