<div class="col-12 col-md-9 text-center">
	[%if [@config:show_home_ads@]%]
		[%advert type:'text' template:'carousel' limit:'10' ad_group:''%]
			[%param *header%]
				<section id="homepageCarousel" class="carousel slide" data-ride="carousel" aria-label="Banner images">
					[%if [@total_showing@] > 1%]
						<ol class="carousel-indicators">
							[%site_value id:'counter' type:'load'/%]
						</ol>
					[%/if%]
					<div class="carousel-inner">
			[%/param%]
			[%param *footer%]
					</div>
					[%if [@total_showing@] > 1%]
						<a class="carousel-control-prev" href="#homepageCarousel" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#homepageCarousel" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					[%/if%]
				</section>
			[%/param%]
			[%param *ifempty%]
				<a class="neto-placeholder neto-placeholder-rotator btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" href="[@config:home_url@]/_cpanel?item=adw&page=view&id=New&plan_id=1">
					Click to add a banner<br/>
				</a>
			[%/param%]
		[%/advert%]
	[%/if%]
	<hr aria-hidden="true" />
	<section id="homepage-content" class="n-responsive-content" aria-label="Main description">[@page_content@]</section>

	[%if [@config:show_home_ads@]%]
		[%advert type:'product' limit:'9' template:'' ad_group:''%]
			[%param *header%]
				<hr aria-hidden="true"/>
				<h1 class="text-center text-uppercase my-5">Featured Products</h1>
				<section class="row products-row" aria-label="Featured Products">
			[%/param%]
			[%param footer%]
				</section>
			[%/param%]
			[%param *ifempty%]
				[%random_products filter_category:'' template:'' limit:'9'%]
					[%param *header%]
						<hr aria-hidden="true"/>
						<h1 class="text-center text-uppercase my-5">Featured Products</h1>
						<section class="row products-row" aria-label="Featured Products">
					[%/param%]
					[%param *footer%]
						</section>
					[%/param%]
				[%/random_products%]
			[%/param%]
		[%/advert%]

		[%advert type:'text' template:'grid' limit:'9' ad_group:'home_ad_units'%]
			[%param *header%]
				<!-- Featured Adverts -->
				<section class="wrapper-grid">
					<h1 class="text-center text-uppercase my-5">Categories</h1>
					<div class="row">
			[%/param%]
			[%param *footer%]
					</div>
				</section>
			[%/param%]
		[%/advert%]

		[%thumb_list type:'content' content_type:'brand' template:'grid-nohover' limit:'9' sortby:'sortorder-desc'%]
			[%param *header%]
				<!-- Brands -->
				<div class="wrapper-brands">
					<h1 class="text-center text-uppercase my-5">Brands</h1>
					<div class="row">
			[%/param%]
			[%param *footer%]
					</div>
				</div>
			[%/param%]
		[%/thumb_list%]
	[%/if%]
</div>
