<div class="col-12 col-md-9 text-center">
	<!-- Use Menu Layout System -->
	[%cache type:'menu' id:'homepage-layout'%]
		[%menu id:'homepage-layout'%]
			[%param *level_1%]
				[%if [@css_class@] eq 'carousel'%]
					<h1 class="text-center text-uppercase my-5">[%if [@name@]%][@name@][%/if%]</h1>
					<!-- Content -->
					[%load_template file:'cms/includes/banner-carousel.template.html'/%]
				[%elseif [@css_class@] eq 'products'%]
					<h1 class="text-center text-uppercase my-5">[%if [@name@]%][@name@][%/if%]</h1>
					<!-- Content -->
					[%load_template file:'cms/includes/featured-products.template.html'/%]
				[%elseif [@css_class@] eq 'categories'%]
					<h1 class="text-center text-uppercase my-5">[%if [@name@]%][@name@][%else%]Categories[%/if%]</h1>
					<!-- Content -->
					[%load_template file:'cms/includes/featured-adverts.template.html'/%]
				[%elseif [@css_class@] eq 'brands'%]
					<h1 class="text-center text-uppercase my-5">[%if [@name@]%][@name@][%else%]Brands[%/if%]</h1>
					<!-- Content -->
					[%load_template file:'cms/includes/brands.template.html'/%]
				[%elseif [@css_class@] eq 'description'%]
					<!-- Content -->
					<h1 class="text-center text-uppercase my-5">[%if [@name@]%][@name@][%/if%]</h1>
					[%load_template file:'cms/includes/description.template.html'/%]
				[%else%]
					<!-- Use Default Layout -->
					[%load_template file:'cms/includes/banner-carousel.template.html'/%]
					[%load_template file:'cms/includes/featured-products.template.html'/%]
					[%load_template file:'cms/includes/featured-adverts.template.html'/%]
					[%load_template file:'cms/includes/brands.template.html'/%]
					[%load_template file:'cms/includes/description.template.html'/%]
				[%/if%]
			[%/param%]
		[%/menu%]
	[%/cache%]
</div>
