<!-- Layout 1 -->
[%SET [@page_type@]='home'/%]

<div class="col-12 text-center">
    [%set [@count@] %]0[%/set%]
    [%load_template file:'cms/includes/carousel_wide.template.html'/%]
    [%set [@count@] %]1[%/set%]
    [%load_template file:'cms/includes/featured_adverts.template.html'/%]
    [%load_template file:'cms/includes/banner_left.template.html'/%]
    [%load_template file:'cms/includes/featured_product.template.html'/%]
    [%load_template file:'cms/includes/banner_right.template.html'/%]
    [%set [@section-title@] %]<div class="spacer home"></div>[%/set%]
    [%load_template file:'cms/includes/featured_products.template.html'/%]
    [%set [@section-title@] %]<div class="spacer home"></div>[%/set%]
    [%load_template file:'cms/includes/parallax_advert.template.html'/%]
    [%set [@section-title@] %]<h1 class="section-title text-center my-4 my-sm-5">Follow Our Instagram</h1>[%/set%]
    [%load_template file:'cms/includes/instagram_wide.template.html'/%]
</div>