<!-- Layout 9 -->
<div class="col-12 text-center">
    [%set [@count@] %]0[%/set%]
    [%load_template file:'cms/includes/carousel_full_height.template.html'/%]
    [%set [@count@] %]1[%/set%]
    [%load_template file:'cms/includes/description_bg.template.html'/%]
    [%set [@section-title@] %]<h1 class="section-title text-center my-4 my-sm-5">New Arrivals</h1>[%/set%]
    [%load_template file:'cms/includes/featured_products_grid.template.html'/%]
    [%load_template file:'cms/includes/spacer_64.template.html'/%]
    [%set [@section-title@] %]<div class="spacer home"></div>[%/set%]
    [%load_template file:'cms/includes/banners_stacked_bg.template.html'/%]
    [%load_template file:'cms/includes/carousel_wide.template.html'/%]
    [%set [@section-title@] %]<h1 class="section-title text-center my-4 my-sm-5">Instagram</h1>[%/set%]
    [%load_template file:'cms/includes/instagram_wide.template.html'/%]
</div>