<!-- Layout 7 -->
[%SET [@page_type@]='home'/%]

<div class="col-12 text-center">
    [%set [@count@] %]0[%/set%]
    [%load_template file:'cms/includes/carousel_wide.template.html'/%]
    [%set [@count@] %]1[%/set%]
    [%load_template file:'cms/includes/usps_bg.template.html'/%]
    [%load_template file:'cms/includes/banners_stacked.template.html'/%]
    [%load_template file:'cms/includes/featured_product.template.html'/%]
    [%set [@section-title@] %]<h1 class="section-title text-center my-4 my-sm-5">Instagram</h1>[%/set%]
    [%load_template file:'cms/includes/instagram_wide.template.html'/%]
</div>