<article class="col-12 col-sm-6 mb-4 n-responsive-content text-center" itemtype="http://schema.org/Article" role="article" aria-label="[@content_name@]">
	<span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
		<meta itemprop="url" content="[@config:homeurl@]"/>
		<meta itemprop="name" content="[@config:company_name@]"/>
		<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject"><meta itemprop="url" content="[@config:homeurl@][@config:imageurl@]/website_logo.png"></span>
	</span>
	<h2 class="my-4 text-center text-uppercase" itemprop="headline" content="[@content_name@]"><a href="[@url@]" itemprop="url">[@content_name@]</a></h2>
	<a href="[@url@]" itemprop="url"><img src="[%asset_url type:'content' id:'[@content_id@]' default:'[$imageurl$]/pixel.gif'%][%end asset_url%]" alt="[@content_name@]" class="blog-img img-responsive block-center"/></a>
	<p class="text-muted">
		[%IF [@content_author@]%]
		<span itemprop="author" itemscope itemtype="https://schema.org/Person">
			Author: <span itemprop="name">[@content_author@]</span>
		</span>&nbsp;
		[%/ IF%]
		[%IF [@date_posted@] != 0000-00-00 00:00:00%]
		<meta itemprop="datePublished" content="[%format type:'date' format:'#Y-#M-#d'%][@date_posted@][%/format%]"/>
		Date Posted: [%FORMAT type:'date'%][@date_posted@][%/ FORMAT%]
		[%/ IF%]
	</p>
	<p class="clearfix" itemprop="description">[@content_short_description2@]</p>
	<p>
		[%IF [@content_allow_reviews@] and [@reviews@] > 0%]<a href="[@URL@]#comments">Comment</a> <span class="badge badge-pill badge-secondary">[@reviews@]</span>[%/ IF%]
		[%if [@CONFIG:show_product_share@]%]
			<div class="wrapper-product-share [%if ![@has_child@] AND [@inpromo@] AND [@CONFIG:show_product_countdown_timer@] || [@has_variation@] AND [@inpromo@] AND [@CONFIG:show_product_countdown_timer@]%]my-2[%else%]d-inline-block align-middle mb-2[%/if%]">
				<div class="dropdown">
					<button class="dropdown-toggle bg-transparent border-0" type="button" id="dropdownMenu[@sku@]" data-toggle="dropdown" aria-controls="shareDropdown[@sku@]" aria-label="Share product">
						<i class="fas fa-share-square" aria-hidden="true"></i>
					</button>
					<ul id="shareDropdown[@sku@]" class="dropdown-menu" aria-labelledby="dropdownMenu[@sku@]">
						<li><a class="dropdown-item js-social-share" href="//www.facebook.com/sharer/sharer.php?u=[%url_encode%][@url@][%/url_encode%]"><i class="fab fa-facebook text-facebook" aria-hidden="true"></i> Facebook</a></li>
						<li><a class="dropdown-item js-social-share" href="//twitter.com/intent/tweet/?text=[%url_encode%][@name@][%/url_encode%]&amp;url=[%url_encode%][@url@][%/url_encode%]"><i class="fab fa-twitter text-twitter" aria-hidden="true"></i> Twitter</a></li>
						<li><a class="dropdown-item js-social-share" href="//www.pinterest.com/pin/create/button/?url=[%url_encode%][@url@][%/url_encode%]&amp;media=[%url_encode%][@config:homeurl@][%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'/%][%/url_encode%]&amp;description=[%url_encode%][@name@][%/url_encode%]"><i class="fab fa-pinterest text-pinterest" aria-hidden="true"></i> Pinterest</a></li>
						<li><a class="dropdown-item js-social-share" href="//plus.google.com/share?url=[%url_encode%][@url@][%/url_encode%]"><i class="fab fa-google-plus text-google-plus" aria-hidden="true"></i> Google+</a></li>
					</ul>
				</div>
			</div>
		[%/if%]
	</p>
</article>
