[%if [@count@] eq 0%]
    [%SITE_VALUE id:'footer_javascript'%]
        <script type="text/javascript">
            // Remove top margin
            $('#main-content').addClass('d-none');
            $('#wrapperBannerStacked').toggleClass('my-3 mb-3');
        </script>
    [%END SITE_VALUE%]
[%/if%]

[%advert type:'text' template:'banners_stacked' limit:'4' ad_group:'banners-stacked'%]
    [%param *header%]
        </div><!-- .container -->
        </div><!-- .row -->
        </div><!-- .col -->
        [@^section-title@]
        <section id="wrapperBannerStacked my-3" class="container-fluid banner hover-overlay-parent overlay-show border-bottom">
            <div class="row justify-content-center">
    [%/param%]
    [%param *footer%]
            </div>
        </section>
        <div id="main-content-second" class="container" role="main">
		    <div class="row justify-content-center">
                <div class="col-12 text-center">
    [%/param%]
[%/advert%]