[%if [@count@] eq 0%]
    [%SITE_VALUE id:'footer_javascript'%]
        <script type="text/javascript">
            // Remove top margin
            $('#main-content').addClass('d-none');
            $('#homepageCarouselFullHeight .carousel-item').toggleClass('my-3 mb-3');

            $(document).ready(function(){
                var desktopHeaderHeight = $('.wrapper-header').height();
                var adjustedHeight = 'calc(100vh - ' + desktopHeaderHeight + 'px)'
                $('.full-height-img img').css('height', adjustedHeight);
            });
        </script>
    [%END SITE_VALUE%]
[%/if%]

[%advert type:'text' template:'carousel' limit:'10' ad_group:'carousel-full-height'%]
    [%param *header%]
        </div><!-- .container -->
        </div><!-- .row -->
        </div><!-- .col -->
        [@^section-title@]

        <section id="homepageCarouselFullHeight" class="full-height-img slide" data-ride="carousel" aria-label="Banner images">
            <div class="carousel-inner">
    [%/param%]
    [%param *footer%]
            </div>
        </section>
        <div id="main-content-second" class="container" role="main">
		    <div class="row justify-content-center">
                <div class="col-12 text-center">
    [%/param%]
    [%param *ifempty%]
        </div><!-- .container -->
        </div><!-- .row -->
        </div><!-- .col -->
        <a class="neto-placeholder neto-placeholder-rotator btn-loads" data-loading-text="<i class='fa fa-spinner fa-spin' style='font-size: 14px'></i>" href="[@config:home_url@]/_cpanel?item=adw&page=view&id=New&plan_id=1">
            Click to add a banner<br/>
        </a>
        <div id="main-content-second" class="container" role="main">
		    <div class="row justify-content-center">
                <div class="col-12 text-center">
    [%/param%]
[%/advert%]