[%if [@config:current_page_type@] eq 'category' OR [@config:current_page_type@] eq 'content'%]
	[%if [@config:show_filters@]%]
		[%site_value id:'footer_javascript'%]
			<script>
				$("#sidebarToggle").click(function(){
					if($(this).html() == "Show Sort") {
						$(this).html("Hide Sort");
					} else {
						$(this).html("Show Sort");
					}

					$("#left-sidebar").toggleClass("sidebar-collapsed");
					$("#category-content").toggleClass("col-md-6 col-lg-8");
					$("#category-content .wrapper-thumbnail-toggle").toggleClass("col-md-12 col-lg-4 col-lg-6");
				});

				var counter = 3;
				$.load_ajax_template('_products_infinite', {limit_update: counter});

				$('#infinite_trigger').on('click', function(){
					$('#infinite_spinner').removeClass('d-none');
					counter = counter + 6;
					$.load_ajax_template('_products_infinite', {limit_update: counter});
				});

			</script>
		[%/site_value%]
	[%/if%]

	<div class="wrapper-category-products row">
		<div class="col-12 mb-5">
			[@^section-title@]
			[%if [@config:show_filters@]%]
				<h2 id="sidebarToggle" class="text-center text-uppercase text-success mb-0">Show Sort</h2>
			[%/if%]
		</div>

		[%if [@config:show_filters@]%]
			[%load_template file:'cms/includes/sidebar.template.html'/%]
		[%else%]
			<div id="category-content" class="col-12 text-center">
		[%/if%]
				[%load_ajax_template id:'_products_infinite' type:'content' template:'products_infinite' preload:'1' tmpl_sku:'[@^^category_id@]' tmpl_preview:'y'/%]
			</div><!-- /#category-content -->
	</div>
	<button id="infinite_trigger" class="btn btn-success">Show More Results</button>
[%/if%]