<h1 class="page-header text-center text-uppercase mb-5">
	[%url_info name:'page_heading' if:'eq' value:''%]
		[%param if_true%][@content_name@][%/param%]
		[%param if_false%][%url_info name:'page_heading'/%][%/param%]
	[%/ url_info%]
	[%IF [@keywords@] == ''%]
		[%FILTER ID:'keywords' if:'ne' value:''%][%NOHTML%][%FILTER ID:'keywords'%][%/FILTER%][%/NOHTML%][%/FILTER%]
	[%/IF%]
</h1>
[%breadcrumb%]
	[%param *header%]
		<nav aria-label="breadcrumb" class="w-100 mb-0 mt-negative-5">
			<ol class="breadcrumb justify-content-center bg-white mb-0" itemscope itemtype="http://schema.org/BreadcrumbList">
				<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
					<meta itemprop="position" content="0" />
				</li>
	[%/param%]
	[%param *body%]
				<li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
					<a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
					<meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
				</li>
	[%/param%]
	[%param *footer%]
			</ol>
		</nav>
	[%/param%]
[%/breadcrumb%]