<div class="row mb-6">
    <!-- Main Image -->
    [%if [@thumb@] ne ''%]
        <div class="col-sm-6 col-md-4 n-responsive-content pr-0">
            <img src="[@thumb@]" itemprop="image" class="" alt="" rel="">
        </div>
    [%/if%]

    <div class="pl-0 [%if [@thumb@] ne ''%]col-ms-6 col-md-8 [%else%]col-12 [%/if%]">
        <section id="homepage-content" class="n-responsive-content border border-secondary h-100 p-4 text-left" aria-label="Main description">[@page_content@]</section>
    </div>
</div>