[%advert type:'product' limit:'8' template:'products_grid' ad_group:'products_grid'%]
    [%param *header%]
        [@^section-title@]
        <section class="row justify-content-center" aria-label="Featured Products">
    [%/param%]
    [%param footer%]
        </section>
    [%/param%]
    [%param *ifempty%]
        [%if [@config:current_page_type@] eq 'home'%]
            [%random_products filter_category:'' template:'products_grid' limit:'8'%]
                [%param *header%]
                    [@^section-title@]
                    <section class="row justify-content-center" aria-label="Featured Products">
                [%/param%]
                [%param *footer%]
                    </section>
                [%/param%]
            [%/random_products%]
        [%/if%]
    [%/param%]
[%/advert%]