[%if [@CONFIG:instagram_userID@] AND [@CONFIG:instagram_accesstoken@]%]
    <!-- Instagram Feed -->
    [@^section-title@]

    <section class="wrapper-instagram">
        <div id="instafeedsmall" class="row justify-content-center p-3 p-md-0"></div>
        [%site_value id:'footer_javascript'%]
            <script type="text/javascript" src="[%ntheme_asset%]js/instafeed.min.js[%/ntheme_asset%]"></script>
            <script type="text/javascript">
            $(document).ready(function(){
                var feedSmall = new Instafeed({
                    target: 'instafeedsmall',
                    get: 'user',
                    userId: '[@CONFIG:instagram_userID@]',
                    accessToken: '[@CONFIG:instagram_accesstoken@]',
                    template: '<div class="col-6 col-sm-4 col-lg-2 px-0 p-md-3"><div class="card thumbnail n-responsive-content border-0"><a href="{{link}}"><img class="img-responsive block-center" src="{{image}}" alt="Instagram Feed"/></a><a href="{{link}}"><div class="hover-overlay black-bg text-center p-3 d-none d-sm-flex"><div class="wrapper-hover-content px-2"><h2 class="h1 text-light mb-2"><i class="fab fa-instagram" aria-hidden="true"></i></h2></div></div></a></div></div>',
                    resolution: 'standard_resolution',
                    limit: '6',
                    sortBy: 'most-recent'
                });
                feedSmall.run();
            });
            </script>
        [%/site_value%]
    </section>
[%/if%]