[%if [@count@] eq 0%]
    [%SITE_VALUE id:'footer_javascript'%]
        <script type="text/javascript">
            // Remove top margin
            $('#main-content').addClass('d-none');
            $('#wrapperParallax .video-item').toggleClass('my-3 mb-3');
        </script>
    [%END SITE_VALUE%]
[%/if%]

[%advert type:'text' template:'' limit:'1' ad_group:'parallax'%]
    [%param *header%]
        </div><!-- .container -->
        </div><!-- .row -->
        </div><!-- .col -->
        [@^section-title@]
        <section id="wrapperParallax" class="container-fluid banner">
            <div class="row justify-content-center">
    [%/param%]
    [%param *body%]
                <div class="d-none d-sm-block col-12 my-3 parallax-effect" style="background-image: url([%asset_url type:'adw' id:'[@ad_id@]' thumb:'alt_1' default:'[@config:imageurl@]/pixel.gif'/%])">
                    [%if [@headline@] OR [@description@] OR [@linktext@]%]
                        <div class="carousel-caption hover-overlay show text-center m-3">
                            <div class="wrapper-hover-content px-2">
                                [%if [@headline@]%]<h2 class="display-1 text-uppercase mb-1">[@headline@]</h2>[%/if%]
                                [%if [@description@]%]<h3 class="h2">[@description@]</h3>[%/if%]
                                [%if [@linktext@]%] <button class="btn btn-outline-dark my-3">[@linktext@]</button>[%/if%]
                            </div>
                        </div>
                    [%/if%]
                </div>
                <div class="d-block d-sm-none col-12 my-3 p-0 parallax-effect">
                    [%if [@headline@] OR [@description@] OR [@linktext@]%]
                    <img src="[%asset_url type:'adw' id:'[@ad_id@]' thumb:'alt_1' default:'[@config:imageurl@]/pixel.gif'/%]" class="d-block w-100" alt="[@headline@]"/>
                        <div class="carousel-caption hover-overlay show text-center m-3">
                            <div class="wrapper-hover-content px-2">
                                [%if [@headline@]%]<h2 class="display-1 text-uppercase mb-1">[@headline@]</h2>[%/if%]
                            </div>
                        </div>
                    [%/if%]
                </div>
    [%/param%]
    [%param *footer%]
            </div>
        </section>
        <div id="main-content-second" class="container" role="main">
		    <div class="row justify-content-center">
                <div class="col-12 text-center">
    [%/param%]
[%/advert%]
