<aside class="col-12 col-sm-3" id="left-sidebar">
    [%IF [@page_type@] eq 'category'  OR [@page_type@] eq 'search' and [@config:show_filters@]%]
        [%CACHE type:'cmenu' id:'sidebar'%]
            [%CATEGORYMENU sortby:'sortorder,selected,name' show_empty:'1'%]
                [%PARAM header%]
                    <div class="panel panel-default hidden-xs">
                        <div class="panel-heading">
                            <h3 class="panel-title sidebar-title text-left" data-sidebaritem="category-menu"><i class="fa fa-angle-down float-right"></i> Categories</h3>
                        </div>
                        <ul class="list-group" role="navigation" aria-label="Category Menu">
                        [%/PARAM%]
                        [%PARAM *level_1%]
                            <li class="sidebaritem [%DATA id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%/DATA%]" data-sidebaritem="category-menu"><a href="[@url@]" class="list-group-item dropdown-toggle" role="link">[@name@]</a>
                                [%DATA id:'next_level' if:'ne' value:''%]
                                    <ul class="dropdown-menu dropdown-menu-horizontal">
                                        [@next_level@]
                                    </ul>
                                [%/DATA%]
                            </li>
                        [%/PARAM%]
                        [%PARAM *level_2%]
                            <li class="[%DATA id:'next_level' if:'ne' value:''%]dropdown dropdown-hover[%/DATA%]">
                                <a href="[@url@]" role="link">[@name@]</a>
                                [%DATA id:'next_level' if:'ne' value:''%]
                                    <ul class="dropdown-menu dropdown-menu-horizontal">
                                        [@next_level@]
                                    </ul>
                                [%/DATA%]
                            </li>
                        [%/PARAM%]
                        [%PARAM *level_3%]
                            <li class="lv3-li">
                                <a href="[@url@]" role="link">[@name@]</a>
                            </li>
                        [%/PARAM%]
                        [%PARAM footer%]
                        </ul>
                    </div>
                [%/PARAM%]
            [%/CATEGORYMENU%]
        [%/CACHE%]

        <div class="wrapper-sortby">
            <form method="get" class="form-horizontal" action="[@config:CURRENT_URL@]">
                <input name="rf" type="hidden" value="[%FILTER_CODE%][%/FILTER_CODE%]">
                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title sidebar-title text-left" data-sidebaritem="sortby-dropdown"><i class="fa fa-angle-down float-right"></i> Sort Products</h3>
                        </div>
                        <div class="sidebaritem" data-sidebaritem="sortby-dropdown">
                            <div class="col-12">
                                <select id="sortby" name="sortby" onChange="return this.form.submit();" class="form-control" aria-label="Sort products by">
                                    <option value="popular" [%SORTBY type:'products' if:'eq' value:'popular'%]selected[%/SORTBY%]>Most Popular</option>
                                    <option value="name" [%SORTBY type:'products' if:'eq' value:'name'%]selected[%/SORTBY%]>Name</option>
                                    <option value="lowest_price" [%SORTBY type:'products' if:'eq' value:'lowest_price'%]selected[%/SORTBY%]>Lowest Price</option>
                                    <option value="highest_price" [%SORTBY type:'products' if:'eq' value:'highest_price'%]selected[%/SORTBY%]>Highest Price</option>
                                    <option value="SKU" [%SORTBY type:'products' if:'eq' value:'SKU'%]selected[%/SORTBY%]>SKU</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-heading-thumbnails">
                <h3 class="panel-title sidebar-title text-left" data-sidebaritem="filter-section">
                    <span><i class="fa fa-angle-down float-right"></i> Filter Products</span>
                </h3>
            </div>
            <ul id="filters-list" class="panel-collapse collapse list-group sidebaritem" data-sidebaritem="filter-section" role="group">
                [%PRODUCT_FILTER type:'variations' autohide:'0' sortoption:'sortorder'%]
                    [%PARAM *header%]
                        <li class="list-group-item sidebar-title" data-sidebaritem="[@specific_id@]"><h4><i class="fa fa-angle-down float-right"></i>[@filter_name@]</h4></li>
                    [%/PARAM%]
                    [%PARAM *body%]
                        [%data id:'selected' if:'==' value:'1'%]
                            [%param *if_true%]
                                <li class="filter-remove filter sidebaritem" data-sidebaritem="[@specific_id@]"><a href="[@remove_single_url@]" class="list-group-item" rel="nofollow">
                                    [@name@] <span class="text-muted"></span></a>
                                </li>
                            [%/param%]
                            [%param *if_false%]
                                <li class="filter sidebaritem" data-sidebaritem="[@specific_id@]">
                                    <a class="list-group-item" href="[@url@]"> [@name@] <span class="text-muted"></span></a>
                                </li>
                            [%/param%]
                        [%/data%]
                    [%/PARAM%]
                [%/PRODUCT_FILTER%]
                [%PRODUCT_FILTER type:'category' limit:'100' autohide:'0' filter_parent_content:'1'%]
                    [%PARAM header%]
                        <li class="list-group-item sidebar-title" data-sidebaritem="category">
                            <h4><i class="fa fa-angle-down float-right"></i> Category</h4>
                        </li>
                    [%/PARAM%]
                    [%PARAM *body%]
                        [%DATA id:'selected' if:'==' value:'1'%]
                            [%PARAM *if_true%]
                            <li class="filter-remove" data-sidebaritem="category"><a href="[@remove_url@]" class="list-group-item" rel="nofollow">
                            [@name@] <span class="text-muted">([@total@])</span></a>
                            </li>
                            [%/PARAM%]
                            [%PARAM *if_false%]
                                <li class="filter sidebaritem" data-sidebaritem="category">
                                <a href="[@url@]" class="list-group-item" role="link">[@name@] <span class="text-muted">([@total@])</span></a>
                                </li>
                            [%/PARAM%]
                        [%/DATA%]
                    [%/PARAM%]
                [%/PRODUCT_FILTER%]
                [%product_filter type:'instock' autohide:'0'%]
                    [%param header%]
                        <li class="list-group-item sidebar-title" data-sidebaritem="stock">
                            <h4><i class="fa fa-angle-down float-right"></i> Stock</h4>
                        </li>
                    [%/param%]
                    [%param *body%]
                        [%if [@selected@]%]
                            <li class="filter-remove" data-sidebaritem="stock">
                                <a href="[@remove_url@]" class="list-group-item" rel="nofollow" role="link">In Stock <span class="text-muted">([@total@])</span></a>
                            </li>
                        [%else%]
                            <li class="filter sidebaritem" data-sidebaritem="stock">
                                <a href="[@url@]" class="list-group-item" role="link">In Stock <span class="text-muted">([@total@])</span></a>
                            </li>
                        [%/if%]
                    [%/param%]
                [%/product_filter%]
                    [%PRODUCT_FILTER type:'price' limit:'6'%]
                        [%PARAM header%]
                            <li class="list-group-item hidden-md hidden-lg sidebar-title" data-sidebaritem="price"><h4><i class="fa fa-angle-down float-right"></i> Price</h4></li>
                        [%/PARAM%]
                        [%PARAM *body%]
                            [%DATA id:'selected' if:'==' value:'1'%]
                                [%PARAM *if_true%]
                                    <li class="filter-remove hidden-md hidden-lg price-range sidebaritem" data-sidebaritem="price"><a href="[@remove_url@]" class="list-group-item" rel="nofollow" role="link">
                                        [@name@] <span class="text-muted">([@total@])</span></a>
                                    </li>
                                [%/PARAM%]
                                [%PARAM *if_false%]
                                    [%DATA id:'min' if:'=' value:'0'%]
                                        [%DATA id:'max' if:'>' value:'0'%]
                                            <li class="filter hidden-md hidden-lg price-range sidebaritem" data-sidebaritem="price"><a class="list-group-item" href="[@url@]" role="link">[%FORMAT type:'currency' dp:'0'%][@max@][%/FORMAT%] or below</a></li>
                                        [%/DATA%]
                                    [%/DATA%]
                                    [%DATA id:'min' if:'>' value:'0'%]
                                        [%DATA id:'max' if:'>' value:'0'%]
                                            <li class="filter hidden-md hidden-l price-range sidebaritem"  data-sidebaritem="price"><a class="list-group-item" href="[@url@]" role="link">[%FORMAT type:'currency' dp:'0'%][@min@][%/FORMAT%] to [%FORMAT type:'currency' dp:'0'%][@max@][%/FORMAT%]</a></li>
                                        [%/DATA%]
                                    [%/DATA%]
                                    [%DATA id:'max' if:'=' value:'0'%]
                                        <li class="filter hidden-md hidden-lg price-range sidebaritem" data-sidebaritem="price"><a class="list-group-item" href="[@url@]" role="link">[%FORMAT type:'currency' dp:'0'%][@min@][%/FORMAT%] or above</a></li>
                                    [%/DATA%]
                                [%/PARAM%]
                            [%/DATA%]
                        [%/PARAM%]
                    [%/PRODUCT_FILTER%]
                    [%PRODUCT_FILTER type:'price' limit:'1'%]
                        [%PARAM header%]
                            <li class="list-group-item hidden-sm hidden-xs sidebar-title" data-sidebaritem="price-lg"><h4><i class="fa fa-angle-down float-right"></i> Price</h4></li>
                        [%/PARAM%]
                        [%PARAM *body%]
                            [%SITE_VALUE id:'footer_javascript'%]
                                <script type="text/javascript">
                                    $(function() {
                                    var vals = ['[@min@]','[@max@]'];
                                    for(var i=0; i<vals.length; i++) {vals[i]=parseInt(vals[i]); }
                                        $( "#price-range" ).slider({
                                            range: true,
                                            min: vals[0],
                                            max: vals[1],
                                            values: vals,
                                            slide: function( event, ui ) {
                                                $( "#price-range-text" ).html( '[@config:currency_symbol@]'+ui.values[0]+' to [@config:currency_symbol@]'+ui.values[1] );
                                                $( '#pricesearch input[name="pr"]' ).val( ui.values[0]+'-'+ui.values[1] );
                                            },
                                            create: function( event, ui ) {
                                                $( "#price-range-text" ).html( '[@config:currency_symbol@]'+vals[0]+' to [@config:currency_symbol@]'+vals[1] );
                                                $( '#pricesearch input[name="pr"]' ).val( vals[0]+'-'+vals[1] );
                                            }
                                        });
                                        var startPos = $("#price-range").slider("value");
                                        var endPos = '';
                                        $("#price-range").on("slidestop", function(event, ui) {
                                            endPos = ui.value;
                                            if (startPos != endPos) {
                                                $( "#pricesearch" ).submit();
                                            }
                                            startPos = endPos;
                                        });
                                    });
                                </script>
                            [%/SITE_VALUE%]
                            <li class="list-group-item hidden-sm hidden-xs price-range-lg sidebaritem" data-sidebaritem="price-lg">
                                [%DATA id:'selected' if:'==' value:'1'%]
                                    [%PARAM *if_true%]
                                        <p id="price-range-text" class="price_range text-center"></p>
                                    [%/PARAM%]
                                    [%PARAM *if_false%]
                                        <p id="price-range-text" class="price_range text-center"></p>
                                    [%/PARAM%]
                                [%/DATA%]
                                <p id="price-range"></p>
                                <form id="pricesearch" method="get" action="[@config:current_url@]" class="text-center">
                                    <input type="hidden" name="rf" value="[%FILTER_CODE id:'price'%][%/FILTER_CODE%]">
                                    <input  name="pr" type="hidden" value="">
                                    <input type="hidden" value="Filter By Price" class="" />
                                    <a href="[@remove_url@]" class="" rel="nofollow"> clear</a>
                                </form>
                            </li>
                        [%/PARAM%]
                    [%/PRODUCT_FILTER%]
                    [%PRODUCT_FILTER type:'brand' autohide:'0'%]
                        [%PARAM header%]
                            <li class="list-group-item sidebar-title" data-sidebaritem="brand"><h4><i class="fa fa-angle-down float-right"></i> Brand</h4></li>
                        [%/PARAM%]
                        [%PARAM *body%]
                            [%DATA id:'selected' if:'==' value:'1'%]
                                [%PARAM *if_true%]
                                    <li class="filter-remove" data-sidebaritem="brand"><a href="[@remove_url@]" class="list-group-item" rel="nofollow" role="link">
                                        [@brand@] <span class="text-muted">([@total@])</span></a>
                                    </li>
                                [%/PARAM%][%PARAM *if_false%]
                                    <li class="filter sidebaritem" data-sidebaritem="brand">
                                        <a href="[@url@]" class="list-group-item" role="link">[@brand@] <span class="text-muted">([@total@])</span></a>
                                    </li>
                                [%/PARAM%]
                            [%/DATA%]
                        [%/PARAM%]
                    [%/PRODUCT_FILTER%]
            </ul>
        </div>
    [%/IF%]
    [%CONFIG id:'phistory_limit' if:'ne' value:'0'%]
        [%PRODUCT_HISTORY limit:'[@config:phistory_limit@]' template:'box'%]
            [%PARAM header%]
                <section class="panel panel-default hidden-xs hidden-sm" role="contentinfo" aria-label="Browsing History">
                    <div class="panel-heading panel-heading-thumbnails">
                        <h4 class="panel-title sidebar-title text-left sidebar-history" data-sidebaritem="history"><i class="fa fa-angle-down float-right"></i> Browsing History</h4>
                    </div>
                    <ul class="nav list-group sidebaritem sidebar-history-item" data-sidebaritem="history" style="display: none;">
            [%/PARAM%]
            [%PARAM footer%]
                    </ul>
                </section>
            [%/PARAM%]
        [%/PRODUCT_HISTORY%]
    [%/CONFIG%]
    [%MENU id:'web_information'%]
        [%PARAM header%]
        <div class="panel panel-default hidden-xs">
            <div class="panel-heading">
                <h4 class="panel-title sidebar-title text-left" data-sidebaritem="information"><i class="fa fa-angle-down float-right"></i> Information</h4>
            </div>
            <ul class="list-group" role="navigation" aria-label="Information Menu">
                [%/PARAM%]
                [%PARAM *level_1%]
                    <li class="sidebaritem [%if [@next_level@]%]dropdown-submenu[%/if%]" data-sidebaritem="information"><a class="list-group-item" href="[@url@]" role="link">[@name@]</a>
                        [%if [@next_level@]%]
                            <ul class="dropdown-menu">
                                [@next_level@]
                            </ul>
                        [%/if%]
                    </li>
                [%/PARAM%]
                [%PARAM *level_2%]
                    <li class="[%if [@next_level@]%]dropdown-submenu[%/if%]">
                        <a href="[@url@]">[@name@]</a>
                        [%if [@next_level@]%]
                            <ul class="dropdown-menu" role="link">[@next_level@]</ul>
                        [%/if%]
                    </li>
                [%/PARAM%]
                [%PARAM *level_3%]
                    <li class="lv3-li">
                        <a href="[@url@]" role="link">[@name@]</a>
                    </li>
                [%/PARAM%]
                [%PARAM footer%]
            </ul>
        </div>
        [%/PARAM%]
    [%/MENU%]
</aside>
<div class="col-12 col-sm-9 float-right">