[%if [@count@] eq 0%]
    [%SITE_VALUE id:'footer_javascript'%]
        <script type="text/javascript">
            // Remove top margin
            $('#main-content').addClass('d-none');
        </script>
    [%END SITE_VALUE%]
[%/if%]
[%SITE_VALUE id:'footer_javascript'%]
    <script type="text/javascript">
        // Replace title margins with padding
        var uspsTitle = $('#usps-title').find('.section-title');
        if (uspsTitle) {
            $(uspsTitle).removeClass('my-4 my-sm-5');
            $(uspsTitle).addClass('mt-4 mt-sm-5 mb-0 pt-5');
            $('.wrapper-usps').removeClass('my-3');
            $('.wrapper-usps').addClass('mb-3');
        }
    </script>
[%END SITE_VALUE%]

[%advert type:'text' template:'usps' limit:'3' ad_group:'usps' sortby:'sortorder'%]
    [%param *header%]
        </div><!-- .container -->
        </div><!-- .row -->
        </div><!-- .col -->
        <span id="usps-title">[@^section-title@]</span>
        <div class="wrapper-usps usps-bg py-3 my-3">
            <div class="container">
                <div class="row justify-content-center text-center">
    [%/param%]
    [%param *footer%]
                </div>
            </div>
        </div>
        <div id="main-content-second" class="container" role="main">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
    [%/param%]
[%/advert%]