<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
	[%load_template file:'headers/includes/head.template.html'/%]
	<link rel="preload" href="[%ntheme_asset%]css/app.css[%/ntheme_asset%]" as="style">
	<link rel="preload" href="[%ntheme_asset%]css/style.css[%/ntheme_asset%]" as="style">
	<link class="theme-selector" rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/app.css[%/ntheme_asset%]" media="all"/>
	<link rel="stylesheet" type="text/css" href="[%ntheme_asset%]css/bespoke-style.css[%/ntheme_asset%]" media="all"/>
</head>

<body id="n_[@config:current_page_type@]" class="n_[@CONFIG:TEMPLATELANG@]">
	<a href="#main-content" class="sr-only sr-only-focusable">Skip to main content</a>

	<!-- Desktop Header -->
	<header class="container-fluid wrapper-header px-3 d-none d-lg-block" aria-label="Header Container">
		[%set [@no-announcement@] %]true[%/set%]
        <!-- Layout 1 -->
        [%load_template file:'headers/includes/announcement.template.html'/%]
        [%load_template file:'headers/includes/logo.template.html'/%]
        [%load_template file:'headers/includes/menu.template.html'/%]
        [%load_template file:'headers/includes/search.template.html'/%]
	</header>

	<!-- Mobile -->
	[%load_template file:'headers/includes/mobile_inner.template.html'/%]

	<div id="main-content" class="container mb-5 mb-sm-0 [%if [@config:current_page_type@] eq 'home' OR [@config:current_page_type@] eq 'category' OR [@config:current_page_type@] eq 'product' OR [@content_type_name@] eq 'Demo'%]mt-0 [%else%]mt-3 mt-sm-6 mt-md-0 [%/if%]" role="main">
		<div class="row justify-content-center">