[%THUMBNAILS id:'[@SKU@]' check_parent:'y'%]
    [%param *header%]
        [@^section-title@]

        <div class="row justify-content-center" role="contentinfo" aria-label="Product images">
    [%/ param%]
    [%param *body%]
            <div class="col-6 col-sm-6 col-lg-4 p-3">
                <div class="card thumbnail card-body">
                    <img src="[@thumb_image@]" class="product-image img-fluid" title="ALT Images">
                </div>
            </div>
    [%/ param%]
    [%param *brochure%]
            <div class="col-6 col-sm-6 col-lg-4 p-3">
                <div class="card thumbnail card-body">
                    <a href="[@file@]" target="_blank" rel="noopener">
                        <img src="[@config:imageurl@]/pdf_brochure.gif" alt="View PDF brochure for [%NOHTML%][@name@][%END NOHTML%]" width="45" height="45">
                    </a>
                </div>
            </div>
    [%/ param%]
    [%param *footer%]
        </div>
    [%/ param%]
[%/ THUMBNAILS%]