[%discount_products id:'[@SKU@]' template:'' show_all:'1' limit:'100'%]
    [%param header%]
        <div class="col-12">
            <div class="alert alert-success">
                <h3 class="h2">BONUS ITEMS! <small>Buy [@name@] Today &amp; Receive These For FREE!</small></h3>
                <div class="row products-row">
    [%/param%]
    [%param *body%]
                    <div class="col-8 col-sm-6 col-md-3">
                        <div class="card thumbnail card-body">
                            <a href="[%url type:'item ' id:'[@SKU@]'/%]" class="thumbnail-image pb-2"><img src="[@thumb@]" class="product-image img-fluid" alt="[@name@]"></a>
                            <p class="card-title h4"><a href="[%URL type:'item' id:'[@SKU@]'/%]">[%format type:'text' maxlength:'150' rmhtml:'1'%][@name@][%/FORMAT%]</a></p>
                            <div class="text-success"><strong>FREE</strong> With This Item!</div>
                        </div>
                    </div>
    [%/param%]
    [%param footer%]
                </div>
            </div>
        </div>
    [%/param%]
[%/discount_products%]
[%free_gifts id:'[@SKU@]'%]
    [%param *header%]
        <div class="col-12">
            <div class="alert alert-success">
                <h3 class="h2">FREEBIES! <small>Buy [@name@] Today &amp; Choose From One Of These FREE Gifts!</small></h3>
                <div class="row products-row">
    [%/param%]
    [%param *body%]
                    <div class="col-8 col-sm-6 col-md-3">
                        <div class="card thumbnail card-body">
                            <a href="[%url type:'item ' id:'[@SKU@]'/%]" class="thumbnail-image pb-2"><img src="[@thumb@]" class="product-image img-fluid" alt="[@name@]"></a>
                            <p class="card-title h4"><a href="[%URL type:'item' id:'[@SKU@]'/%]">[%format type:'text' maxlength:'150' rmhtml:'1'%][@name@][%/FORMAT%]</a></p>
                            <div class="text-success"><strong>FREE</strong> With This Item!</div>
                        </div>
                    </div>
    [%/param%]
    [%param *footer%]
                </div>
            </div>
        </div>
    [%/param%]
[%/free_gifts%]