<div class="row">
	<meta itemprop="brand" content="[@brand@]"/>
	<div class="wrapper-product-title col-12">
		[%if [@parent_sku@] ne ''%]
			[%product sku:'[@parent_sku@]'%]
				[%param *body%]
					[%if [@has_variation@]%]
						<h1 class="text-center text-uppercase mb-1" itemprop="name" aria-label="Product Name">[@name@]</h1>
						[%if [@subtitle@]%]
							<h3 class="text-center text-uppercase mb-1" role="heading" aria-label="Product Subtitle">[@subtitle@]</h3>
						[%/if%]
					[%/if%]
				[%/param%]
			[%/product%]
		[%else%]
			<h1 class="text-center text-uppercase mb-1" itemprop="name" aria-label="Product Name">[@name@]</h1>
			[%if [@subtitle@]%]
				<h3 class="text-center text-uppercase mb-3" role="heading" aria-label="Product Subtitle">[@subtitle@]</h3>
			[%/if%]
		[%/if%]

		<div class="my-2">
			[%set [@review_sku@]%][%if [@parent_sku@]%][@parent_sku@][%else%][@sku@][%/if%][%/set%]
			[%load_ajax_template id:'_reviews' type:'item' template:'reviews' preload:'1' tmpl_sku:'[@review_sku@]' /%]
		</div>
	</div>
	<div class="wrapper-product-price  col-12">
		[%if ![@has_child@] || [@has_variation@]%]
			<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="wrapper-pricing m-auto d-inline-block align-middle">
				<meta itemprop="priceCurrency" content="[@config:defaultcurrency@]">
				[%if ![@inpromo@]%]
					<div class="h2" itemprop="price" content="[@store_price@]" aria-label="Store Price">
						[%FORMAT type:'currency'%][@store_price@][%/FORMAT%]
					</div>
				[%else%]
					[%if [@CONFIG:show_product_countdown_timer@]%]
						[%site_value id:'footer_javascript'%]
							<script type="text/javascript" src="//cdn.neto.com.au/assets/neto-cdn/jcountdown/1.4/jquery.jcountdown.min.js"></script>
							<script type="x-template" id="countdownTemplate">
								<div class="wrapper-time-section d-inline-block">
									<span class="countdown-square">%d</span>
									<span class='cd-time'>days</span>
								</div>
								<div class="wrapper-time-section d-inline-block">
									<span class="countdown-square">%h</span>
									<span class='cd-time'>hours</span>
								</div>
								<div class="wrapper-time-section d-inline-block">
									<span class="countdown-square">%i</span>
									<span class='cd-time'>minutes</span>
								</div>
								<div class="wrapper-time-section d-inline-block">
									<span class="countdown-square">%s</span>
									<span class='cd-time'>seconds</span>
								</div>
							</script>
							<script type="text/javascript">
								$(document).ready(function() {
									$("#sale-end").countdown({
										date: "[%format type:'date' format:'#K #d, #Y  #H:#I'%][@promo_end@][%/format%]",
										htmlTemplate: $('#countdownTemplate').html(),
										leadingZero: true
									});

									var dateSetting = $("#sale-end").countdown("getSettings", "htmlTemplate");
								});
							</script>
						[%/site_value%]
					[%/if%]

					<div class="productpromo h2 text-success font-weight-bold" itemprop="price" content="[@promo_price@]" aria-label="Promo Price">
						[%FORMAT type:'currency'%][@promo_price@][%/FORMAT%]
					</div>
					[%if [@CONFIG:show_product_countdown_timer@]%]
						<div class="wrapper-countdown time-text mt-4" itemprop="priceValidUntil" content="[%format type:'date' format:'#Y-#M-#d'%][@promo_end@][%/format%]">
							<div id="sale-end" class="text-center"></div>
						</div>
					[%/if%]
				[%/if%]
				[%if [@form:disable_scripts@] ne 'true'%]
					[%tracking_code type:'BuyingOptions' /%]
				[%/if%]
				[%if [@availability_description@]%]
					<div class="availability_description">
						[@availability_description@]
					</div>
				[%/if%]
			</div>
		[%/if%]
		[%if [@CONFIG:show_product_share@]%]
			<div class="wrapper-product-share [%if ![@has_child@] AND [@inpromo@] AND [@CONFIG:show_product_countdown_timer@] || [@has_variation@] AND [@inpromo@] AND [@CONFIG:show_product_countdown_timer@]%]my-2[%else%]d-inline-block align-middle mb-2[%/if%]">
				<div class="dropdown">
					<button class="dropdown-toggle bg-transparent border-0" type="button" id="dropdownMenu[@sku@]" data-toggle="dropdown" aria-controls="shareDropdown[@sku@]" aria-label="Share product">
						<i class="fas fa-share-square" aria-hidden="true"></i>
					</button>
					<ul id="shareDropdown[@sku@]" class="dropdown-menu" aria-labelledby="dropdownMenu[@sku@]">
						<li><a class="dropdown-item js-social-share" href="//www.facebook.com/sharer/sharer.php?u=[%url_encode%][@url@][%/url_encode%]"><i class="fab fa-facebook text-facebook" aria-hidden="true"></i> Facebook</a></li>
						<li><a class="dropdown-item js-social-share" href="//twitter.com/intent/tweet/?text=[%url_encode%][@name@][%/url_encode%]&amp;url=[%url_encode%][@url@][%/url_encode%]"><i class="fab fa-twitter text-twitter" aria-hidden="true"></i> Twitter</a></li>
						<li><a class="dropdown-item js-social-share" href="//www.pinterest.com/pin/create/button/?url=[%url_encode%][@url@][%/url_encode%]&amp;media=[%url_encode%][@config:homeurl@][%asset_url type:'product' id:'[@SKU@]' thumb:'full' check_parent:'y'/%][%/url_encode%]&amp;description=[%url_encode%][@name@][%/url_encode%]"><i class="fab fa-pinterest text-pinterest" aria-hidden="true"></i> Pinterest</a></li>
						<li><a class="dropdown-item js-social-share" href="//plus.google.com/share?url=[%url_encode%][@url@][%/url_encode%]"><i class="fab fa-google-plus text-google-plus" aria-hidden="true"></i> Google+</a></li>
					</ul>
				</div>
			</div>
		[%/if%]
	</div>
</div>
