[%breadcrumb%]
    [%param *header%]
        <nav aria-label="breadcrumb" class="w-100 mb-0">
            <ol class="breadcrumb justify-content-center bg-white mb-0" itemscope itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="[@config:home_url@]" itemprop="item"><span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="0" />
                </li>
    [%/param%]
    [%param *body%]
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="[@url@]" itemprop="item"><span itemprop="name">[@name@]</span></a>
                    <meta itemprop="position" content="[%calc [@count@] + 1 /%]" />
                </li>
    [%/param%]
    [%param *footer%]
            </ol>
        </nav>
    [%/param%]
[%/breadcrumb%]
<div class="row" itemscope itemtype="http://schema.org/Product">
    <div class="col-12 mb-4">
        [%load_ajax_template id:'_header' type:'item' template:'header' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y'/%]
    </div>
    <section class="col-12 col-lg-4 mt-4" role="contentinfo" aria-label="Product images">
        [%load_ajax_template id:'_images' type:'item' template:'images' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y'/%]
    </section>
    <section class="col-12 col-lg-8 mt-4" role="contentinfo" aria-label="Products information">
        <!-- child products -->
        [%load_template file:"products/includes/child_products.template.html"/%]
        [%if [@has_variation@] || ![@has_child@] AND ![@has_components@]%]
            <!-- addtocart functionality -->
            [%load_ajax_template id:'_buying_options' type:'item' template:'buying_options' preload:'1' tmpl_sku:'[@current_sku@]' tmpl_preview:'y'/%]
        [%/if%]
        [%if [@has_components@]%]
            <!-- kit components -->
            [%load_template file:"products/includes/components.template.html"/%]
        [%/if%]
    </section>
</div>