<div id="carousel-slide[@count@]" class="carousel-item [%if [@count@] eq '0'%]active[%/if%]">
	[%if [@url@] ne ''%]<a href="[@url@]">[%/if%]
		<img src="[%asset_url type:'adw' id:'[@ad_id@]'%][%param default%][%cdn_asset html:'0' library:'images'%]default_product.gif[%/cdn_asset%][%end param%][%/asset_url%]" class="d-block w-100" alt="[@headline@]"/>
		[%if [@headline@] ne '' OR [@description@] ne '' OR [@linktext@] ne ''%]
			<div class="carousel-caption hover-overlay show p-3">
				<div class="wrapper-hover-content">
					[%if [@headline@] ne ''%]<h1 class="display-1 text-uppercase mb-1">[@headline@]</h1>[%/if%]
					[%if [@description@] ne ''%]<h3 class="h2">[@description@]</h3>[%/if%]
					[%if [@linktext@] ne ''%]<button class="d-none d-sm-block btn btn-success my-3 mx-auto">[@linktext@]</button>[%/if%]
				</div>
			</div>
		[%/if%]
	[%if [@url@] ne ''%]</a>[%/if%]
</div>