/* Global */
body {
	font-family: 'Montserrat', sans-serif /*{Global | body-font-family}*/;
	font-size: 14px /*{Global | body-font-size}*/;
	color: #212529 /*{Global | body-font-colour}*/;
	background-image:none /*{Global | body-background-image}*/;
	background-color: #fff /*{Global | body-background-colour}*/;
}

a {
	color: #26262d /*{Global | link-text-colour}*/;
	font-weight: 400 /*{Global | link-text-font-weight}*/;
}
a:hover,
a:focus {
	color: #26262d /*{Global | link-text-hover-colour}*/;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Montserrat', sans-serif /*{Headings | headers-font-family}*/;
	color: #333 /*{Headings | headers-colour}*/;
	font-weight: 400 /*{Headings | headers-font-weight}*/;
}

h1,
.h1 {
	font-size: 36px /*{Headings | header-1-font-size}*/;
}
h2,
.h2 {
	font-size: 24px /*{Headings | header-2-font-size}*/;
}
h3,
.h3 {
	font-size: 18px /*{Headings | header-3-font-size}*/;
}
h4,
.h4 {
	font-size: 16px /*{Headings | header-4-font-size}*/;
}
h5,
.h5 {
	font-size: 14px /*{Headings | header-5-font-size}*/;
}

/* Carousel/Parallax */
.carousel-caption h1,
.carousel-caption .h1,
.carousel-caption h2,
.carousel-caption .h2,
.carousel-caption h3,
.carousel-caption .h3 {
	color: #333 !important /*{Carousel | carousel-text-colour}*/;
}

.carousel-caption .btn-outline-dark {
	color: #343a40 /*{Carousel: Button | carousel-btn-default-text-colour}*/;
	background-color: transparent /*{Carousel: Button | carousel-btn-default-bg-colour}*/;
	border-color: #343a40 /*{Carousel: Button | carousel-btn-default-border-colour}*/;
}
.carousel-caption .btn-outline-dark:hover,
.carousel-caption .btn-outline-dark:focus,
.carousel-caption .btn-outline-dark:active,
.carousel-caption .btn-outline-dark.active,
.carousel-caption .open .dropdown-toggle.btn-outline-dark {
	color: #fff /*{Carousel: Button | carousel-btn-default-text-colour-hover}*/;
	background-color: #343a40 /*{Carousel: Button | carousel-btn-default-bg-colour-hover}*/;
	border-color: #343a40 /*{Carousel: Button | carousel-btn-default-border-colour-hover}*/;
}

/* Button: Default */
.btn-outline-secondary, .btn-default {
	color: #333 /*{Button: Default | btn-default-text-colour}*/;
	background-color: #fff /*{Button: Default | btn-default-bg-colour}*/;
	border-color: #ccc /*{Button: Default | btn-default-border-colour}*/;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active,
.btn-outline-secondary.active,
.open .dropdown-toggle.btn-outline-secondary,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-default:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-default:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle,
.show > .dropdown-toggle.btn-default {
	color: #333 /*{Button: Default | btn-default-text-colour-hover}*/;
	background-color: #ebebeb /*{Button: Default | btn-default-bg-colour-hover}*/;
	border-color: #adadad /*{Button: Default | btn-default-border-colour-hover}*/;
}

.btn-outline-secondary.disabled,
.btn-outline-secondary[disabled],
fieldset[disabled] .btn-outline-secondary,
.btn-outline-secondary.disabled:hover,
.btn-outline-secondary[disabled]:hover,
fieldset[disabled] .btn-outline-secondary:hover,
.btn-outline-secondary.disabled:focus,
.btn-outline-secondary[disabled]:focus,
fieldset[disabled] .btn-outline-secondary:focus,
.btn-outline-secondary.disabled:active,
.btn-outline-secondary[disabled]:active,
fieldset[disabled] .btn-outline-secondary:active,
.btn-outline-secondary.disabled.active,
.btn-outline-secondary[disabled].active,
fieldset[disabled] .btn-outline-secondary.active,
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #ccc /*{Button: Default | btn-default-disabled-bg-colour}*/;
	border-color: #ccc /*{Button: Default | btn-default-disabled-border-colour}*/;
}

/* Button: Primary */
.btn-primary {
	color: #fff /*{Button: Primary | btn-primary-text-colour}*/;
	background-color: #373842 /*{Button: Primary | btn-primary-bg-colour}*/;
	border-color: #373842 /*{Button: Primary | btn-primary-border-colour}*/;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
	color: #fff /*{Button: Primary | btn-primary-text-colour-hover}*/;
	background-color: #26262d /*{Button: Primary | btn-primary-bg-colour-hover}*/;
	border-color: #202026 /*{Button: Primary | btn-primary-border-colour-hover}*/;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #373842 /*{Button: Primary | btn-primary-disabled-bg-colour}*/;
	border-color: #373842 /*{Button: Primary | btn-primary-disabled-border-colour}*/;
}

/* Button: Warning */
.btn-warning {
	color: #212529  /*{Button: Warning | btn-warning-text-colour}*/;
	background-color: #ffc107 /*{Button: Warning | btn-warning-bg-colour}*/;
	border-color: #ffc107 /*{Button: Warning | btn-warning-border-colour}*/;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning,
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn-warning.dropdown-toggle {
	color: #212529 /*{Button: Warning | btn-warning-text-colour-hover}*/;
	background-color: #e0a800 /*{Button: Warning | btn-warning-bg-colour-hover}*/;
	border-color: #ffc107 /*{Button: Warning | btn-warning-border-colour-hover}*/;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
	background-color: #ffc107 /*{Button: Warning | btn-warning-disabled-bg-colour}*/;
	border-color: #ffc107 /*{Button: Warning | btn-warning-disabled-border-colour}*/;
}

/* Button: Danger */
.btn-danger {
	color: #fff /*{Button: Danger | btn-danger-text-colour}*/;
	background-color: #dc3545 /*{Button: Danger | btn-danger-bg-colour}*/;
	border-color: #dc3545 /*{Button: Danger | btn-danger-border-colour}*/;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle {
	color: #fff /*{Button: Danger | btn-danger-text-colour-hover}*/;
	background-color: #c82333 /*{Button: Danger | btn-danger-bg-colour-hover}*/;
	border-color: #bd2130 /*{Button: Danger | btn-danger-border-colour-hover}*/;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
	background-color: #dc3545 /*{Button: Danger | btn-danger-disabled-bg-colour}*/;
	border-color: #dc3545 /*{Button: Danger | btn-danger-disabled-border-colour}*/;
}

/* Button: Success */
.btn-success {
	color: #fff /*{Button: Success | btn-success-text-colour}*/;
	background-color: #26262d /*{Button: Success | btn-success-bg-colour}*/;
	border-color: #26262d /*{Button: Success | btn-success-border-colour}*/;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
	color: #fff /*{Button: Success | btn-success-text-colour-hover}*/;
	background-color: #26262d /*{Button: Success | btn-success-bg-colour-hover}*/;
	border-color: #26262d /*{Button: Success | btn-success-border-colour-hover}*/;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background-color: #26262d /*{Button: Success | btn-success-disabled-bg-colour}*/;
	border-color: #26262d /*{Button: Success | btn-success-disabled-border-colour}*/;
}

/* Button: Info */
.btn-info {
	color: #fff /*{Button: Info | btn-info-text-colour}*/;
	background-color: #17a2b8 /*{Button: Info | btn-info-bg-colour}*/;
	border-color: #17a2b8 /*{Button: Info | btn-info-border-colour}*/;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info,
.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle {
	color: #fff /*{Button: Info | btn-info-text-colour-hover}*/;
	background-color: #138496 /*{Button: Info | btn-info-bg-colour-hover}*/;
	border-color: #117a8b /*{Button: Info | btn-info-border-colour-hover}*/;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
	background-color: #17a2b8 /*{Button: Info | btn-info-disabled-bg-colour}*/;
	border-color: #17a2b8 /*{Button: Info | btn-info-disabled-border-colour}*/;
}

/* Breadcrumbs */
.breadcrumb {
	background-color: #fff /*{Breadcrumbs | breadcrumb-background-colour}*/;
}

.breadcrumb-item + .breadcrumb-item::before {
	color: #6c757d /*{Breadcrumbs | breadcrumb-text-colour}*/;
}

.breadcrumb > .active,
.breadcrumb a {
	color: #696969 /*{Breadcrumbs | breadcrumb-text-colour}*/;
}

/* Pagination */
.pagination .page-link{
	color: #373842 /*{Pagination | pagination-text-colour}*/;
	background-color: #fff /*{Pagination | pagination-bg-colour}*/;
	border-color: #dee2e6 /*{Pagination | pagination-border-colour}*/;
}
.pagination .page-link:hover,
.pagination .page-link:focus{
	color: #004ca9 /*{Pagination | pagination-text-colour-hover}*/;
	background-color: #e9ecef /*{Pagination | pagination-bg-colour-hover}*/;
	border-color: #dee2e6 /*{Pagination | pagination-border-colour-hover}*/;
}
.pagination .active .page-link,
.pagination .active .page-link:hover,
.pagination .active .page-link:focus {
	color: #fff /*{Pagination | pagination-text-colour-active}*/;
	background-color: #373842 /*{Pagination | pagination-bg-colour-active}*/;
	border-color: #373842 /*{Pagination | pagination-border-colour-active}*/;
}

/* Labels */
.badge-secondary {
	background-color: #ebebeb /*{Label | label-default-bg}*/;
}
.badge-primary {
	background-color: #373842 /*{Label | label-primary-bg}*/;
}
.badge-success {
	background-color: #26262d /*{Label | label-success-bg}*/;
}
.badge-info {
	background-color: #17a2b8 /*{Label | label-info-bg}*/;
}
.badge-warning {
	background-color: #212529 /*{Label | label-warning-text-colour}*/;
	background-color: #ffc107 /*{Label | label-warning-bg}*/;
}
.badge-danger {
	background-color: #dc3545 /*{Label | label-danger-bg}*/;
}

/* Panels */
.card,
.br-sm-1 {
	border-color: #dfdfdf /*{Panel | panel-border-colour}*/ !important;
}
.card-header {
	background-color: #f5f5f5 /*{Panel | panel-header-bg-colour}*/;
	border-color: #dfdfdf /*{Panel | panel-header-border-colour}*/;
}

.productsave {
	color: #D9534F;
}

/* Header Desktop */
.wrapper-header .navbar .navbar-nav .nav-link,
.wrapper-header .navbar-toggler {
	color: #333 /*{Header Desktop | navbar-default-link-colour}*/;
	font-weight: 300 /*{Header Desktop | navbar-default-link-font-weight}*/;
}

.wrapper-header .navbar {
	background-color: #fff /*{Header Desktop | navbar-default-bg-colour}*/ !important;
	border-color: #fff /*{Header Desktop | navbar-default-border-colour}*/;
}

.wrapper-header .wrapper-announcement,
.wrapper-mob-header .wrapper-announcement {
	background-color: #f8f3f0 /*{Header Desktop | announcement-bar-bg-colour}*/ !important;
}
.wrapper-header .wrapper-announcement a,
.wrapper-header .wrapper-announcement span,
.wrapper-mob-header .wrapper-announcement a,
.wrapper-mob-header .wrapper-announcement span {
	color: #5a3b21 /*{Header Desktop | announcement-bar-text-colour}*/ !important;
}

.parts-finder-outer-wrapper {
	background-color: #f5f5f5 /*{Header Desktop | product-finder-bg-colour}*/;
}

/* Header Desktop: Search */
.wrapper-header .wrapper-search-bar,
.wrapper-header .header-search .ajax_search,
.wrapper-header .header-search button {
	background-color: #26262d /*{Header Desktop: Search | desktop-search-default-bg-colour}*/ !important;
}

.wrapper-header .header-search .ajax_search,
.wrapper-header .header-search button,
.wrapper-header .header-search .ajax_search::placeholder {
	color: #fff /*{Header Desktop: Search | desktop-search-font-colour}*/;
}

/* Header Mobile */
.wrapper-mob-header .wrapper-mobile-contents {
	background-color: #fff /*{Header Mobile | mobile-navbar-default-bg-colour}*/ !important;
}

.wrapper-header .navbar-nav .nav-link:hover,
.wrapper-header .navbar-nav .nav-link:focus {
	color: #5a3b21 /*{Header Desktop | navbar-default-link-colour-hover}*/;
}
.wrapper-header .navbar-nav .show > .nav-link,
.wrapper-header .navbar-nav .active > .nav-link,
.wrapper-header .navbar-nav .nav-link.show,
.wrapper-header .navbar-nav .nav-link.active {
	color: #5a3b21 /*{Header Desktop | navbar-default-link-colour-active}*/;
}

.wrapper-header .dropdown-menu {
	background-color: #373842 /*{Header Desktop | header-dropdown-menu-bg}*/;
	border-color: #373842 /*{Header Desktop | header-dropdown-menu-border-colour}*/;
}

.wrapper-header .dropdown-item {
	color: #fff /*{Header Desktop | header-dropdown-menu-link-colour}*/;
}
.wrapper-header .dropdown-item:hover,
.wrapper-header .dropdown-item:focus,
.wrapper-header .dropdown-item.active,
.wrapper-header .dropdown-item:active{
	color: #fff /*{Header Desktop | header-dropdown-menu-link-colour-hover}*/;
	background-color: #26262d /*{Header Desktop | header-dropdown-menu-link-bg-hover}*/;
}

.dropdown-menu {
	background-color: #fff /*{dropdown-menu-bg}*/;
	border-color: #ccc /*{dropdown-menu-border-colour}*/;
}

.dropdown-item {
	color: #212529 /*{dropdown-menu-link-colour}*/;
}
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item.active,
.dropdown-item:active{
	color: #262626 /*{dropdown-menu-link-colour-hover}*/;
	background-color: #f5f5f5 /*{dropdown-menu-link-bg-hover}*/;
}

/* Footer */
.wrapper-footer nav {
	background-color: #f8f3f0 /*{Footer | footer-default-bg-colour}*/ !important;
}

.wrapper-footer nav li a {
	color: #5a3b21 /*{Footer | footer-default-text-colour}*/;
}

/* Product Page */
.tabbable .nav-tabs,
.nav-tabs .nav-link,
.nav-tabs .nav-item .nav-link {
	background-color: #373842 /*{Product Page | product-page-accordion-bg}*/ !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #26262d /*{Product Page | product-page-accordion-active-bg}*/ !important;
}

/* Sidebar */
.navbar-side {
    background-color: #fff /*{Header Mobile: Sidebar | mobile-sidebar-bg}*/;
}

.overlay {
    background-color: #ccc /*{Header Mobile: Sidebar | mobile-overlay-bg}*/;
}

/* Thumbnails: Hover */
.hover-overlay.black-bg {
    background-color: rgba(51, 51, 51, 0.6) /*{Product Thumbnails | thumbnail-bg-hover-black}*/;
}
.hover-overlay.red-bg {
    background-color: rgba(174, 21, 21, 0.4) /*{Product Thumbnails | thumbnail-bg-hover-red}*/;
}
.hover-overlay.yellow-bg {
    background-color: rgba(193, 124, 22, 0.4) /*{Product Thumbnails | thumbnail-bg-hover-yellow}*/;
}
.hover-overlay.green-bg {
    background-color: rgba(20, 146, 70, 0.4) /*{Product Thumbnails | thumbnail-bg-hover-green}*/;
}
.hover-overlay.white-bg {
    background-color: rgb(255, 255, 255, 0.6) /*{Product Thumbnails | thumbnail-bg-hover-white}*/;
}

.hover-overlay h1,
.hover-overlay .h1,
.hover-overlay h2,
.hover-overlay .h2,
.hover-overlay h3,
.hover-overlay .h3 {
	color: #fff /*{Product Thumbnails | thumbnail-hover-light-text-colour}*/;
}

.hover-overlay.white-bg h1,
.hover-overlay.white-bg .h1,
.hover-overlay.white-bg h2,
.hover-overlay.white-bg .h2,
.hover-overlay.white-bg h3,
.hover-overlay.white-bg .h3 {
	color: #333 /*{Product Thumbnails | thumbnail-hover-dark-text-colour}*/;
}

/* Product Thumbnails: Alternate Layout */
.alt-thumb-description h4 {
	color: #333 /*{Product Thumbnails Alternate | name-text-colour}*/;
}

.alt-thumb-description span {
	color: #999 /*{Product Thumbnails Alternate | price-text-colour}*/;
}

.alt-thumb-description {
	border-color: transparent !important /*{Product Thumbnails Alternate | description-border-colour}*/;
}

/* Header Dropdown */
.bg-dark .dropdown-item:hover,
.bg-dark .dropdown-item:focus,
.bg-dark .dropdown-item.active,
.bg-dark .dropdown-item:active {
    background-color: #26262d;
}

/* Utilities */
.bg-black-fill {
    background-color: #373842 /*{Utilities | bg-primary}*/;
}
.bg-green-fill {
    background-color: #26262d /*{Utilities | bg-secondary}*/;
}
.bg-dark {
    background-color: #373842 /*{Utilities | bg-tertiary}*/ !important;
}

.text-success {
	color: #26262d /*{Utilities | text-success}*/ !important;
}

/* Brands */
.wrapper-brands .border {
	border-color: #dee2e6 /*{Brands | border-color}*/ !important;
}

.wrapper-brands.brands-bg,
#brands-title h1 {
	background: #f5f5f5 /*{Brands | background-color}*/;
}