<script type="text/javascript" language="javascript">
    $(document).ready(function() {
        // Collapse Sidebar Filters
        $('.price-range-lg').hide();
        $('.price-range').hide();
        $('.filter, .sidebaritem').css('display','none');
        $('.filter-remove').each(function(){
            var showfilters = $(this).attr('data-filtercode');
            $('.filter-title[data-filtercode="'+showfilters+'"]').click();
        });

        // --- Setup Desktop Listeners ---
        // Listener: Sidebar Filter
        $('.sidebar-title').click(function(){
            var sidebarcode = $(this).data('sidebaritem');
            $('.sidebaritem[data-sidebaritem=' + '"' + sidebarcode + '"' + ']').slideToggle();
            if ($("i", this).hasClass("fa-angle-down")) {
                $("i", this).removeClass('fa-angle-down').addClass('fa-angle-up');
            } else {
                $("i", this).removeClass('fa-angle-up').addClass('fa-angle-down');
            }
        });

        // Listener: Sidebar History Filter
        $(document).on("click", ".sidebar-history", function(){
            $(".sidebar-history-item").slideToggle();
            if ($("i", this).hasClass("fa-angle-down")) {
                $("i", this).removeClass('fa-angle-down').addClass('fa-angle-up');
            } else {
                $("i", this).removeClass('fa-angle-up').addClass('fa-angle-down');
            }
        });
    });
</script>