[%site_value id:'footer_javascript'%]
    <script>
        $(document).ready(function(){
            $('.mobile-pf-wrapper').click(function(){
                $(this).find('.fa').toggleClass("fa-angle-down fa-angle-up")
            });

            $.compatListInit({});
            $(".compatibility_list").change(function() {
                $.buildCompatList($(this));
            });
        })
    </script>
[%/site_value%]

<div class="parts-finder-outer-wrapper row">
    <div class="col-12">
        [%compatibility_list id:'product-finder' stype:'button' size:'3' sortby:''%]
            [%PARAM *search%]
                <input type="hidden" id="clist_search" value="[@stype@]"/>
            [%END PARAM%]
            [%PARAM *header%]
                <div class="partfinder-fields">
                    <input type="hidden" id="clist_size" value="[@ssize@]" />
                    <input type="hidden" id="clist_hidden" value="[@shidden@]" />
                    <div id="compat_list" class="d-flex w-100 justify-content-center align-items-center p-2">
                        <h4 class="parts-finder-title mb-0 pr-3"><i class="fa fa-search mr-1"></i> Product Finder</h4>
            [%END PARAM%]
            [%PARAM *subheader%]
                [%IF [@compatcat_level@]==1%]
                        <div class="part-select pr-2">
                            <select name="clist_[@compat_id@]_[@compatcat_level@]" [@style@] id="clist_[@compat_id@]_[@compatcat_level@]" class="compatibility_list d-block w-100 py-1 px-2 form-control" rel="[@compatcat_label@]">
                                <option value="">Option</option>
                [%ELSEIF [@compatcat_level@]==2%]
                        <div class="part-select pr-2">
                            <select name="clist_[@compat_id@]_[@compatcat_level@]" [@style@] id="clist_[@compat_id@]_[@compatcat_level@]" class="compatibility_list d-block w-100 py-1 px-2 form-control" rel="[@compatcat_label@]">
                                <option value="">Option</option>
                [%ELSEIF [@compatcat_level@]==3%]
                        <div class="part-select pr-2">
                            <select name="clist_[@compat_id@]_[@compatcat_level@]" [@style@] id="clist_[@compat_id@]_[@compatcat_level@]" class="compatibility_list d-block w-100 py-1 px-2 form-control" rel="[@compatcat_label@]">
                                <option value="">Option</option>
                [%/if%]
            [%END PARAM%]
            [%PARAM *body%]
                                <option value="[@compatcat_id@]" [@compat_selected@]>[@compatcat_name@]</option>
            [%END PARAM%]
            [%PARAM subfooter%]
                            </select>
                        </div>
            [%END PARAM%]
            [%PARAM footer%]
                        <div class="submit-button-wrapper">
                            <button type="submit" class="btn btn-success text-uppercase rounded">Find</button>
                        </div>
                    </div>
                </div>
            [%END PARAM%]
        [%END compatibility_list%]
    </div>
</div>