[%SITE_VALUE id:'footer_javascript'%]
    <script type="text/javascript">
        $('#mobile-menu, #mobile-sticky-spacer, #mobile-header').removeClass('d-lg-none');
    </script>
[%END SITE_VALUE%]

[%if [@config:current_page_type@] eq 'home' OR [@content_type_id@] eq 13%]
    [%SITE_VALUE id:'footer_javascript'%]
        <script type="text/javascript">
            $('#mobile-sticky-spacer').toggleClass('d-block d-none');
            $('#mobile-header .wrapper-mobile-contents').removeClass('wrapper-mobile-contents');
            $('#mobile-header').addClass('pt-3');
        </script>
    [%END SITE_VALUE%]
[%/if%]