[%SITE_VALUE id:'footer_javascript'%]
    <script type="text/javascript">
        $('#mobile-menu, #mobile-sticky-spacer, #mobile-header').removeClass('d-lg-none');
    </script>
[%END SITE_VALUE%]

[%if [@config:current_page_type@] eq 'home' OR [@content_type_name@] eq 'Demo'%]
    [%SITE_VALUE id:'footer_javascript'%]
        <script type="text/javascript">
            $('#mobile-sticky-spacer').toggleClass('d-block d-none');

            $(function() {
                //caches a jQuery object containing the header element
                var header = $("#mobile-header .wrapper-mobile-contents");
                header.addClass('no-scroll');

                $(window).scroll(function() {
                    var scroll = $(window).scrollTop();

                    if (scroll >= 50) {
                        header.removeClass('no-scroll');
                    } else {
                        header.addClass('no-scroll');
                    }
                });
            });
        </script>
    [%END SITE_VALUE%]
[%/if%]