<nav class="wrapper-desktop-nav row navbar navbar-expand-md navbar-light mt-0 rounded-0">
    <div class="collapse navbar-collapse" id="navbarMainMenu">
        <ul class="navbar-nav justify-content-center w-100 text-uppercase flex-wrap" role="navigation" aria-label="Main menu">
            [%cache type:'menu' id:'header-content-menu'%]
                [%menu id:'web_header'%]
                    [%param *level_1%]
                        <li class="nav-item [%if [@next_level@]%] dropdown [%/if%] [%if [@css_class@]%] [@css_class@][%/if%]">
                            <a href="[@url@]" class="nav-link [%if [@next_level@]%] dropdown-toggle[%/if%]" [%if [@next_level@]%]role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"[%/if%]>[@name@]</a>
                            [%if [@next_level@]%]
                                <ul class="dropdown-menu border-0">
                                    [%if [@url@] ne ''%]
                                        <li class="[%if [@css_class@]%] [@css_class@][%/if%]"> <a href="[@url@]" class="nuhover dropdown-item">> All [@name@]</a>
                                    [%/if%]
                                    [@next_level@]
                                </ul>
                            [%/if%]
                        </li>
                        [%/param%]
                    [%param *level_2%]
                        <li class="[%if [@next_level@]%] dropdown dropdown-hover [%/if%] [%if [@css_class@]%] [@css_class@][%/if%]"> <a href="[@url@]" class="nuhover dropdown-item">[@name@]</a>
                            [%if [@next_level@]%]
                                <ul class="dropdown-menu dropdown-menu-horizontal border-0">
                                    [@next_level@]
                                </ul>
                            [%/if%]
                        </li>
                        [%/param%]
                    [%param *level_3%]
                        <li class="[%if [@css_class@]%] [@css_class@][%/if%]">
                            <a class="dropdown-item" href="[@url@]">[@name@]</a>
                        </li>
                    [%/param%]
                [%/menu%]
            [%/ cache%]
            <li class="nav-item">
                <a class="wrapper-search-icon nav-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" aria-label="Search dropdown">
                    <span class="h3 text-success"><i class="fa fa-search" aria-hidden="true"></i></span><span class="text-success pl-2">Search</span>
                </a>
            </li>
            <li class="wrapper-account nav-item dropdown">
                <a href="[%url page:'account'/%]" role="button" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Account dropdown"><span class="text-success h3"><i class="fas fa-user"></i></span><span class="text-success pl-2">Account</span></a>
                <ul class="dropdown-menu border-0">
                    <li><a class="dropdown-item" href="[%url page:'account'/%]">Account Home</a></li>
                    <li><a class="dropdown-item" href="[%url page:'account'/%]#orders">Orders</a></li>
                    [%if [@config:allow_user_quote@]%]
                        <li><a class="dropdown-item " href="[%url page:'account'/%]#quotes">Quotes</a></li>
                    [%/if%]
                    <li><a class="dropdown-item" href="[%url page:'account' type:'payrec'/%]">Pay Invoices</a></li>
                    <li><a class="dropdown-item" href="[%url page:'account' type:'favourites'/%]">Reorder</a></li>
                    [%if [@config:show_wishlist@]%]
                        <li><a class="dropdown-item" href="[%url page:'account' type:'wishlist'/%]">Wishlists</a></li>
                    [%/if%]
                    <li><a class="dropdown-item" href="[%url page:'account' type:'warranty'/%]">Resolution Centre</a></li>
                    <li><a class="dropdown-item" href="[%url page:'account' type:'edit_account'/%]">Edit My Details</a></li>
                    <li><a class="dropdown-item" href="[%url page:'account' type:'edit_address'/%]">Edit My Address Book</a></li>
                    <li class="divider"><div class="dropdown-divider"></div></li>
                    [%if [@user:username@]%]
                        <li> <a class="dropdown-item" href="[%url page:'account' type:'edit_pwd'/%]"><i class="fa fa-lock"></i> Change My Password</a> </li>
                        <li> <a class="dropdown-item" href="[%url page:'account' type:'logout'/%]"><i class="fa fa-power-off"></i> Log Out</a> </li>
                    [%else%]
                        <li> <a class="dropdown-item" href="[%url page:'account' type:'login'/%]" title="Login">Login</a> </li>
                        <li> <a class="dropdown-item" href="[%url page:'account' type:'register'/%]" title="Register">Register</a> </li>
                    [%/if%]
                </ul>
            </li>
            <li id="header-cart" class="nav-item position-relative" role="group">
                <button type="button" class="wrapper-cart btn bg-transparent border-0 dropdown-toggle dropdown-toggle-split py-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="Shopping cart dropdown">
                    <span class="h3 text-success"><i class="fas fa-shopping-bag" aria-hidden="true"></i></span><span class="text-success pl-2" rel="a2c_item_count">[%format type:'number' dp:'0'%][%cart id:'total_items'/%][%/format%]</span><span class="text-success text-uppercase"> Items</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right float-right">
                    <li class="box" id="neto-dropdown">
                        <div class="body" id="cartcontents"></div>
                        <div class="footer"></div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>