// Background Colours
$bg-black: rgba(51, 51, 51, 0.6);
$bg-red: rgba(174, 21, 21, 0.4);
$bg-yellow: rgba(193, 124, 22, 0.4);
$bg-green: rgba(20, 146, 70, 0.4);
$bg-black-fill: #373842;
$bg-green-fill: #888F7F;

.bg-black-fill {
    background-color: $bg-black-fill;
}
.bg-green-fill {
    background-color: $bg-green-fill;
}
.bg-dark {
    background-color: #373842 !important;
}

.bg-dark .dropdown-item:hover,
.bg-dark .dropdown-item:focus,
.bg-dark .dropdown-item.active,
.bg-dark .dropdown-item:active {
    background-color: $bg-green-fill;
}

// Text Styling
p {
    line-height: 24px;
}

@media (max-width: 575.98px) {
    .wrapper-hover-content h1 {
      font-size: 18px;
    }

    .wrapper-hover-content h3 {
    font-size: 14px;
    }
}

// Padding
@media (min-width: 576px) {
    .pb-30p {
        padding-bottom: 30px !important;
    }
    .mb-30p {
        margin-bottom: 30px !important;
    }
    .mb-neg-30p {
        margin-bottom: -30px !important;
    }
}

.my-negative-5 {
    margin-top: -48px !important;
    margin-top: -3rem !important;
}

// Shadows
.b-shadow-1 {
    box-shadow: 0px -2px 5px rgba(51, 51, 51, 0.3);
}

// iOS Zoom
.ajax_search {
    font-size: 16px;
}

// Transitions
.opacity-fade {
    right: 0;
    opacity: 1;
    transition: 1s all;
}

.opacity-fade.active {
    position: absolute;
    right: 100%;
    opacity: 0;
}

// Margins
.my-30p {
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}
.mt-6 {
    margin-top: 60px !important;
}
.mb-6 {
    margin-bottom: 80px !important;
}

// Spacers
.spacer {
    height: 43px;
}

.spacer:first-of-type {
    display: none;
}

// Header
.wrapper-logo img.logo {
    width: 350px;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }

    .border-sm-1 {
        border: 1px solid #ddd !important;
    }
}

.wrapper-cart.dropdown-toggle::after,
.wrapper-account .dropdown-toggle::after {
    display: none;
}

// Product Thumnails
.thumbnail {
    &:hover .hover-overlay {
        opacity: 1;
    }
    &.card-body .card-title {
        max-height: 80px;
        overflow: hidden;
    }
}

.hover-overlay {
    opacity: 0;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;

    &.black-bg{
        background-color: $bg-black;
    }
    &.red-bg{
        background-color: $bg-red;
    }
    &.yellow-bg{
        background-color: $bg-yellow;
    }
    &.green-bg{
        background-color: $bg-green;
    }

    &.show {
        opacity: 1;
    }

    a {
        text-decoration: none;
    }
}

// Product Page
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #888F7F;
}

.nav-tabs .nav-link {
    border: 0;
    margin-bottom: 1px;
}

// Footer
.list-social {
    opacity: 0.6;
}

.payment-icon-container {
    background: transparent;
}

.payment-icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.6;
    transform: scale(0.65);
}

// Sizing
.object-fit-200 {
    object-fit: cover;
    height: 200px;
}

.object-fit-300 {
    object-fit: cover;
    height: 300px;
}

.object-fit-400 {
    object-fit: cover;
    height: 400px;
}

.object-fit-500 {
    object-fit: cover;
    height: 400px;
}