// Background Colours
$bg-black: rgba(51, 51, 51, 0.6);
$bg-red: rgba(174, 21, 21, 0.4);
$bg-yellow: rgba(193, 124, 22, 0.4);
$bg-green: rgba(20, 146, 70, 0.4);
$bg-black-fill: #333;
$bg-green-fill: #888F7F;

.bg-black-fill {
    background-color: $bg-black-fill;
}
.bg-green-fill {
    background-color: $bg-green-fill;
}

// Padding
@media (max-width: 575px) {
    .pb-30p-xs {
        padding-bottom: 0px !important;
    }
}

.pb-30p {
    padding-bottom: 30px !important;
}

// Margins
.my-30p {
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}
.mt-6 {
    margin-top: 60px !important;
}
.mb-6 {
    margin-bottom: 80px !important;
}
.mb-neg-30p {
    margin-bottom: -30px !important;
}
.mb-30p {
    margin-bottom: 30px !important;
}

// Spacers
.spacer {
    height: 43px;
}

.spacer:first-of-type {
    display: none;
}

// Header
.wrapper-logo img.logo {
    width: 350px;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
}

.wrapper-cart.dropdown-toggle::after,
.wrapper-account .dropdown-toggle::after {
    display: none;
}

// Product Thumnails
.thumbnail {
    &:hover .hover-overlay {
        opacity: 1;
    }
    &.card-body .card-title {
        max-height: 80px;
        overflow: hidden;
    }
}

.hover-overlay {
    opacity: 0;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;

    &.black-bg{
        background-color: $bg-black;
    }
    &.red-bg{
        background-color: $bg-red;
    }
    &.yellow-bg{
        background-color: $bg-yellow;
    }
    &.green-bg{
        background-color: $bg-green;
    }

    &.show {
        opacity: 1;
    }

    a {
        text-decoration: none;
    }
}