* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Background Colours
$bg-black: rgba(51, 51, 51, 0.6);
$bg-red: rgba(174, 21, 21, 0.4);
$bg-yellow: rgba(193, 124, 22, 0.4);
$bg-green: rgba(20, 146, 70, 0.4);
$bg-black-fill: #373842;
$bg-green-fill: #888F7F;

.bg-black-fill {
    background-color: $bg-black-fill;
}
.bg-green-fill {
    background-color: $bg-green-fill;
}
.bg-dark {
    background-color: #373842 !important;
}

.bg-dark .dropdown-item:hover,
.bg-dark .dropdown-item:focus,
.bg-dark .dropdown-item.active,
.bg-dark .dropdown-item:active {
    background-color: $bg-green-fill;
}

@media (min-width: 768px) {
    .bg-md-black {
        background-color: $bg-black-fill !important;
    }
    .bg-md-white {
        background-color: #fff !important;
    }
}

// Heights
.h-35 {
    height: 35px;
}

.h-60 {
    height: 60px;
}

// Spacers
.spacer {
    height: 32px;
}

// Text Styling
p {
    line-height: 24px;
}

@media (max-width: 575.98px) {
    .wrapper-hover-content h1 {
      font-size: 18px;
    }

    .wrapper-hover-content h3 {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    h1.section-title {
        font-size: 24px;
        font-weight: 400;
    }
}

// Borders
.br-0 {
    border-right: 0 !important;
}

@media (min-width: 576px) {
    .br-sm-1 {
        border-right: 1px solid !important;
    }
}

// Shadows
.st-1 {
    box-shadow: 0px -2px 5px rgba(51, 51, 51, 0.3);
}
.sb-1 {
    box-shadow: 0px 2px 5px rgba(51, 51, 51, 0.3);
}
.sl-1 {
    box-shadow: -2px 0px 5px rgba(51, 51, 51, 0.3);
}
.sr-1 {
    box-shadow: 2px 0px 5px rgba(51, 51, 51, 0.3);
}

// Transitions
.opacity-fade {
    right: 0;
    opacity: 1;
    transition: 1s all;
}

.opacity-fade.active {
    position: absolute;
    right: 100%;
    opacity: 0;
}


// Sizing
.object-fit-200 {
    object-fit: cover;
    height: 200px;
}

.object-fit-300 {
    object-fit: cover;
    height: 300px;
}

.object-fit-400 {
    object-fit: cover;
    height: 400px;
}

.object-fit-500 {
    object-fit: cover;
    height: 400px;
}

// iOS Zoom
.ajax_search {
    font-size: 16px;
}

// -- Site Specific ---

// Header
.wrapper-logo img.logo {
    width: 350px;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }

    .border-sm-1 {
        border: 1px solid #ddd !important;
    }
}

.wrapper-cart.dropdown-toggle::after,
.wrapper-account .dropdown-toggle::after {
    display: none;
}

#collapseExample.show {
    opacity: 1;
    visibility: visible;
    transition: 1s all;
}

#collapseExample {
    opacity: 0;
    visibility: hidden;
}

.wrapper-header .header-search .ajax_search:focus {
    box-shadow: none;
}

// Product Thumnails
.thumbnail {
    &:hover .hover-overlay {
        opacity: 1;
    }
    &.card-body .card-title {
        max-height: 80px;
        overflow: hidden;
    }
}

.hover-overlay {
    opacity: 0;
    transition: all 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;

    &.black-bg{
        background-color: $bg-black;
    }
    &.red-bg{
        background-color: $bg-red;
    }
    &.yellow-bg{
        background-color: $bg-yellow;
    }
    &.green-bg{
        background-color: $bg-green;
    }

    &.show {
        opacity: 1;
    }

    a {
        text-decoration: none;
    }
}

// Product Page
.description-compress p {
    display: none;
}
.description-compress p:first-of-type {
    display: unset;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #888F7F !important;
}

.nav-tabs .nav-link {
    border: 0;
    margin-bottom: 1px;
}

// Product Page: Countdown
.wrapper-countdown {
    .countdown-square {
        width: 65px;
        height: 60px;
        border: 1px solid #333333;
        text-align: center;
        font-size: 28px;
        font-weight: 700;
        line-height: 60px;
        display: block;
        margin-bottom: 14px;
    }
    .cd-time {
        font-weight: 400;
        color: #777777;
        font-size: 13px;
        text-transform: uppercase;
        display: block;
    }
    .wrapper-time-section {
        margin-left: 21px;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            @media (max-width: 335px) {
                margin-left: 0;
                padding-top: 15px;
                text-align: center;
            }
        }
    }
}

// Footer
.list-social {
    opacity: 0.6;
}

.payment-icon-container {
    background: transparent;
}

.payment-icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.6;
    transform: scale(0.65);
}

// Sidebar
.sidebar-collapsed {
    display: none;
    margin-left: -33.33333%; /* same width as sidebar */
}

.sidebaritem {
    list-style: none;
}

// Mobile Header
@media (max-width: 768px) {
    .mob-logo img.logo {
        max-height: 35px;
    }
}

// Mobile Navbar Side
.navbar-side {
    height: 100%;
    width: 80%;
    position: fixed;
    top: 0;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    z-index: 1040;
    transition: 600ms ease;
    background-color: #fff;

    &.left {
        left: 0;
        transform: translateX(-100%);
    }
    &.right {
        right: 0;
        transform: translateX(100%);
    }

    &.reveal {
        transform: translateX(0%);
    }
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0.6;
    z-index: 1030;
    background-color: #ccc;
}

// Mobile Search Preview
#mobile-menu form .nsearchinput-pl.well {
    margin-top: 53px !important;

    li a {
        padding-left: 0;
    }
}

// USPs
.advert-usp .advert-usp-content {
    a {
        &:hover {
            text-decoration: none;
        }
        h4 {
            line-height: 24px;
            height: 48px;
            overflow-y: hidden;

            @media (min-width: 768px) {
                height: 72px;
            }
        }
    }
}

// Carousel
.carousel-caption {
    text-shadow: none;
}

// Extra
.breadcrumb,
.pagination {
    justify-content: center !important;
}